<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>Uspešno poslato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container fade-in">
        <h1> Uspešno poslato! 🎉</h1>
        <p>Vaš snimak je uspešno poslat na navedenu mejl adresu.</p>
        <p>Hvala što ste koristili <b class="app-name">signlang4you</b>!</p>

        <a href="/"><button class="start-btn">Nazad na početnu</button></a>
        <p class="note">Možete ponovo pokrenuti aplikaciju kad god želite.</p>
    </div>
</body>
</html>
